OPENAI_API_KEY=ysk-proj-9eEd020dXsz3wN8li8pWG3ai2DUPXLQCUpSRs4YBJooivkzPVu_QdfS8v1jN2NCoKgDPDk3qaaT3BlbkFJQAHFAj4JAadw7TeGTJqv98RoOzQJw2UfsZA0AmW3S6GyzHIMwGO2Sxl5sdiw0N8FIl5upaAKgA
MODEL_NAME=gpt-4o-mini
